{% cache "property" ~ property.id ~ ";" ~ property.updatedAt.timestamp|default(date('2018-01-01 00:00:00').timestamp) %}
<div class="cols">
	<div class="card shadow-sm">
		<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">
			{% if property.getFirstImage %}
				<img src="{{ vich_uploader_asset(property.getFirstImage, 'imageFile') | imagine_filter('thumb') }}" alt="" style="width:100%" />
			{% else %}
				<svg class="bd-placeholder-img card-img-top" width="100%" style="height:27vh" xmlns="http://www.w3.org/2000/svg" role="img"
					aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" focusable="false">
					<title>Placeholder</title>
					<rect width="100%" height="100%" fill="#55595c"></rect>
					<text x="50%" y="50%" fill="#eceeef" dy=".3em" style="text-anchor:middle">Thumbnail</text>
				</svg>
			{% endif %}
		</a>		
	</div>
	<div class="card-body">
		<div class="card-title">
			{{ property.surface }} m² - 
			<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.name }}</a>
		</div>

		<div class="text-primary fw-bold" style="font-size:2rem">{{ property.formattedPrice }} €</div>
	</div>
</div>
{% endcache %}
