{% extends 'base.html.twig' %}

{% block title 'Gérer les options' %}

{% block body %}
<div class="container mt-4">
    <h1>Gérer les options</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <div class="mt-2 mb-2">
        <a href="{{ path('admin.option.new') }}" class="btn btn-primary">Ajouter une option</a>
    </div>

    <table class="table table-striped">
        <thead> 
            <tr>
                <th>Nom</th>
                <th>Actions</th>            
            </tr>
        </thead>
        <tbody>
            {% for option in options %}
                <tr>
                    <td>{{ option.name }}</td>
                    <td>
                        <a href="{{ path('admin.option.edit', {id: option.id}) }}"  class="btn btn-secondary">Modifier</a>
                        <form action="{{ path('admin.option.delete', {id: option.id}) }}" method="POST" style="display:inline-block" onsubmit="return confirm('Voulez-vous vraiment supprimer cette option ?')">
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}" />
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
